{% load static %}

<!-- Hero Area Start -->
<div id="hero-area" class="hero-area-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="contents">
                    <h2 class="head-title">Conta corrente, poupança, transferências e muito mais.<br>Um banco feito pra você</h2>
                    <p>Das soluções mais simples, até as mais complexas; De pix até o auxílio emergencial. A Fusion tem uma conta especial para você.</p>
                    <div class="header-button">
                        <a href="#" class="btn btn-common">Inicie já!</i></a>
                        <a href="#" class="btn btn-border video-popup">Saiba mais</i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="intro-img">
                    <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->

<div class="container">
    {% if messages %}
    {% for m in messages %}
    <div class="alert alert-{{ m.tags }}">
        <button type="button" class="close" data-dismiss="alert"></button>
        <strong>{{ m }}</strong>
    </div>
    {% endfor %}
    {% endif %}
</div>

</header>
<!-- Header Area wrapper End -->

