{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--====== SLIDER PART START ======-->
        {% include 'slide.html' %}
    <!--====== SLIDER PART ENDS ======-->

    <!--====== SERVICES TWO PART START ======-->
        {% include 'services.html' %}
    <!--====== SERVICES TWO PART ENDS ======-->

    <!--====== CONTACT PART START ======-->
        {% include 'contato.html' %}
    <!--====== CONTACT PART ENDS ======-->

    <!--====== FOOTER PART START ======-->
        {% include 'footer.html' %}
    <!--====== FOOTER PART ENDS ======-->
    {% endblock%}