{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Hero Area Start -->
    {% include 'hero.html' %}
    <!-- Hero Area End -->

    <!-- Header Area wrapper Starts -->
        <!-- Dentro do Hero -->
    <!-- Header Area wrapper End -->

    <!-- Services Section Start -->
    {% include 'services.html' %}
    <!-- Services Section End -->

    <!-- Contact Section Start -->
    {% include 'contato.html' %}
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    {% include 'footer.html' %}
    <!-- Footer Section End -->
{% endblock %}