{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<div class="container" align="center">

        <form action="submit" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Usuario</label>
                <input type="text" class="form-control" name="username" id="inputUsername" aria-describedby="userHelp"
                       placeholder="Enter Username">
                <small id="userHelp" class="form-text text-muted">Nunca compartilhe suas credenciais com outras pessoas.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

</div>

{% include 'footer.html' %}

{% endblock %}

